<div class="address-form">
    <p>
      <mat-form-field class="example-full-width">
        <mat-label>Utca neve</mat-label>
        <textarea matInput [(ngModel)]="street" placeholder="pl.: Váci"></textarea>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Házszám</mat-label>
        <input matInput [(ngModel)]="houseNum" placeholder="pl.: 10">
      </mat-form-field>
    </p>
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>Város</mat-label>
        <input matInput [(ngModel)]="city" placeholder="pl.: Budapest">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>Irányítószám</mat-label>
        <input matInput [(ngModel)]="postalCode" maxlength="5" placeholder="pl.: 1037">
      </mat-form-field></td>
    </tr></table>
</div>