<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home" *ngIf="authService.loggedIn()" (click)="drawer.close()">Főmenü</a>
      <a mat-list-item routerLink="/login" *ngIf="!authService.loggedIn()" (click)="drawer.close()">Bejelentkezés</a>
      <a mat-list-item routerLink="/registration" *ngIf="!authService.loggedIn()" (click)="drawer.close()">Regisztráció</a>      
      <a mat-list-item routerLink="/login" *ngIf="authService.loggedIn()" (click)="authService.logOut(); drawer.close()">Kijelentkezés</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span></span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
