<div mat-dialog-content>
    <p *ngIf="!data.name">Kérem nevezze el az új csoportot!</p>
    <p *ngIf="data.name">Kérem adja meg a csoport új nevét!</p>
    <mat-form-field>
      <mat-label>Csoport neve</mat-label>
      <input matInput [(ngModel)]="data.name" #name="ngModel" name="name" [class.is-invalid]="name.invalid && name.touched" required>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Mégse</button>
    <button mat-button class="btn-primary" [disabled]="name.invalid" (click)="save()" [mat-dialog-close]="data.name" cdkFocusInitial>Mentés</button>
  </div>