.mat-grid-tile {
    border: solid 5px #000;
    border-radius:15px;
    min-height: 220px;   
    min-width: 220px; 
    max-height: 220px;
    max-width: 220px;
}

.container {
    background: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    transition-duration: 0.4s;
    
    box-shadow: 0 9px #999;
}

.container:hover {
    background-color: #7b1fa2;
    color: white;
  }

.container:active {
    background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.container > .header {
    flex-basis: 20%;
    order: 1;
    color: black;
}

.container > .body {
    flex: 1;
    order: 2;
    color: black;
}

.newGroup {
    background-color: crimson;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.newGroup > .header {
    flex-basis: 20%;
    order: 1;
}

.newGroup > .body {
    flex: 1;
    order: 2;
}

mat-icon{
    font-size: 180px;
    margin: 10px auto;
}

