<mat-grid-list gutterSize="15px" #grid [cols]="cols">
    <mat-grid-tile *ngFor="let group of groups" (contextmenu)="onContextMenu($event, group)">
        <div class="container" routerLink="/group/{{group.id}}">
            <div style="visibility: hidden; position: fixed" [style.left]="contextMenuPosition.x"
                [style.top]="contextMenuPosition.y" [matMenuTriggerFor]="contextMenu">
            </div>
            <section style="font-style: italic;" class="header">
                {{group.name}}
            </section>
            <section class="body">
                <mat-icon *ngIf="!group.isDone">folder</mat-icon>
                <mat-icon *ngIf="group.isDone">done_outline</mat-icon>
            </section>
        </div>
    </mat-grid-tile>    
    <mat-menu #contextMenu="matMenu">
        <ng-template matMenuContent let-item="group">
            <button mat-menu-item routerLink="/group/{{item.id}}/tasks/update">Feladatok kezelése</button>
            <button mat-menu-item (click)="openRenameDialog(item)">Név lecserélése</button>
            <button mat-menu-item (click)="openDeleteDialog(item)">Törlés</button>
        </ng-template>
    </mat-menu>
    <mat-grid-tile>
        <div class="newGroup" (click)="openDialog()">
            <section class="header">
                Új csoport létrehozása
            </section>
            <section class="body">
                <mat-icon>create_new_folder</mat-icon>
            </section>
        </div>
    </mat-grid-tile>
</mat-grid-list>