<mat-grid-list gutterSize="15px" cols="4">
    <mat-grid-tile *ngFor="let group of groups" (contextmenu)="onContextMenu($event, group)">
        <div class="container" routerLink="/stepper">
            <div style="visibility: hidden; position: fixed" [style.left]="contextMenuPosition.x"
                [style.top]="contextMenuPosition.y" [matMenuTriggerFor]="contextMenu">
            </div>
            <section class="header">
                {{group.name}}
            </section>
            <section class="body">
                <mat-icon>folder</mat-icon>
            </section>
        </div>
    </mat-grid-tile>    
    <mat-menu #contextMenu="matMenu">
        <ng-template matMenuContent let-item="group">
            <button mat-menu-item (click)="openDeleteDialog(item)">Delete</button>
        </ng-template>
    </mat-menu>
    <mat-grid-tile>
        <div class="newGroup" (click)="openDialog()">
            <section class="header">
                Új csoport létrehozása
            </section>
            <section class="body">
                <mat-icon>create_new_folder</mat-icon>
            </section>
        </div>
    </mat-grid-tile>
</mat-grid-list>