.container {
    background: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.container > .header {
    flex-basis: 20%;
    order: 1; /* Assure this is the first element, at the top */
}

.container > .body {
    flex: 1;
    order: 2; /* Assure this is the second element, in the middle */
}

.newGroup {
    background-color: crimson;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.newGroup > .header {
    flex-basis: 20%;
    order: 1; /* Assure this is the first element, at the top */
}

.newGroup > .body {
    flex: 1;
    order: 2; /* Assure this is the second element, in the middle */
}

mat-icon{
    font-size: 200px;
    margin: 10px auto;
}

