<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button>
<div fxLayout style="height: 95%">
  <mat-horizontal-stepper [linear]="isLinear" #stepper fxLayout="column" fxFlex="100" fxLayoutAlign=" stretch">
    <mat-step [stepControl]="firstFormGroup" *ngFor="let task of taskList; index as i" fxFlex="100" fxLayout="column">
      <div>
        <ng-template matStepLabel>{{task.name}}</ng-template>
        <div style="height:120px; margin-top: 20px;">
          <button mat-raised-button color="primary" matStepperPrevious *ngIf="i > 0" (click)="saveCheckBoxState(task)"
            style="float: left;">Előző</button>
          <button mat-raised-button color="primary" matStepperNext *ngIf="i < taskList.length-1" (click)="saveCheckBoxState(task)"
            style="float: right;" [disabled]="!task.isDone">Következő</button>
          <button mat-raised-button color="accent" *ngIf="i === taskList.length-1" (click)="finishedGroup(task)"
            style="float: right;" [disabled]="!task.isDone">Befejezés</button>
          <mat-checkbox class="example-margin d-flex justify-content-center" labelPosition="before"
            [(ngModel)]="task.isDone"><label style="margin-top: 20px;">Megoldva</label></mat-checkbox>
        </div>
        <weddplan-stepper-page [task]="task"></weddplan-stepper-page>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>



<!-- 

  <form #f = "ngForm" (ngSubmit)="nextOrFinish(task)">
        <ng-template matStepLabel>{{task.name}}</ng-template>
        <div class="form-group">
          <mat-checkbox class="example-margin" [(ngModel)]="task.isDone">Checked</mat-checkbox>
        </div>
        <weddplan-stepper-page [task]="task"></weddplan-stepper-page>
        <div>
          <button mat-button matStepperNext  type="submit">Next</button>
        </div>
        {{task | json}}
      </form>

-->

<!-- <div class="mat-app-background basic-container">
  <weddplan-group-stepper>loading</weddplan-group-stepper>
</div>-->
<!-- Ezt majd így kell behelyezni valszeg a helyére-->

<!--

<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button>
<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>{{Fill out your name}}</ng-template>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" label="Fill out your address">
    <form [formGroup]="secondFormGroup">
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
               required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
-->