<div fxLayout style="height: 95%; margin-top: 50px;">
  <mat-horizontal-stepper [linear]="true" #stepper fxLayout="column" fxFlex="100" fxLayoutAlign=" stretch" (selectionChange)="saveAfterTabChange($event)">
    <mat-step [stepControl]="RandomFormGroup" *ngFor="let task of taskList; index as i" fxFlex="100" fxLayout="column" [completed]="task.isDone">
      <div>
        <ng-template matStepLabel>{{task.name}}</ng-template>
        <div style="height:120px; margin-top: 20px;">
          <button mat-raised-button color="primary" matStepperPrevious *ngIf="i > 0" (click)="saveCheckBoxState(task)"
            style="float: left;">Előző</button>
          <button mat-raised-button color="primary" matStepperNext *ngIf="i < taskList.length-1" (click)="saveCheckBoxState(task)"
            style="float: right;" [disabled]="!task.isDone">Következő</button>
          <button mat-raised-button color="accent" *ngIf="i === taskList.length-1" (click)="finishedGroup(task)"
            style="float: right;" [disabled]="!task.isDone">Befejezés</button>
          <mat-checkbox class="example-margin d-flex justify-content-center" labelPosition="before"
            [(ngModel)]="task.isDone"><label style="margin-top: 20px;">Megoldva</label></mat-checkbox>
        </div>
        <weddplan-stepper-page [task]="task"></weddplan-stepper-page>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>