<mat-form-field appearance="fill">
    <mat-label>Válasszon időpontot</mat-label>
    <input matInput [matDatepicker]="picker" [min]="minDate"
        (dateInput)="addEvent($event)" [formControl]="defaultDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker [startAt]="defaultDate" #picker></mat-datepicker>
</mat-form-field>
<!--
<button (click)="kiir()">gomb</button>
-->

<!-- 

    <mat-form-field appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" [min]="minDate" [value]="task.date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<button (click)="kiir()">Gomb</button>
-->